body {
    height: 100%;
    width: 100%;
    background-color: #262622;
    color: white;
}
.homepage {
    color: white;
    height: 89.5vh;
    margin: 0 auto  ;
    align-items: center;
    text-align: center;
    background-size: cover;
    background:
  linear-gradient(
    rgba(38, 38, 34, 0.4),
    rgba(38, 38, 34, 0.7),
    rgba(38, 38, 34, 1)
  ),
  url('Images/Achtergrond.png');
}
.welkom-text {
    display: block;
    height: 500px;
    padding-top: 100px;
}
.welkom-text h1 {
    font-size: 5rem;
    line-height: 80px;
    text-shadow: 5px 5px 10px black;
}
.welkom-text p {
    font-size: 2rem;
    font-weight: 700;
    line-height: 60px;
    text-shadow: 3px 3px 5px black ;
    margin-bottom: 10px;
}
.welkom-text .gele-text {
    color: #fbbc05;
}
.welkom-text .reserveer{
    height: 33px;
    width: 120px;
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: white 0.5px solid;
    border-radius: 20px;
    font-weight: bold;
    transition: scale 1s ease;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
}
.welkom-text .reserveer:hover {
    color: #fbbc05;
    padding: 5px 20px;
    text-align: center;
    border: #fbbc05 0.5px solid;
    border-radius: 20px;
    scale: 1.1;
}
.homepage .info-over{
    display: flex;
    margin: 0 auto;
    max-width: 700px;
    margin-top: -60px;
    gap: 6rem;
    align-items: center;
}
.homepage .reserveren{
    background-color: #262622;
    box-shadow: 5px 5px 20px black;
    height: 180px;
    width: 300px;
    text-align: left;
}
.homepage .terras{
    height: 180px;
    width: 300px;
    background-color: #262622;
    box-shadow: 5px 5px 20px black;
    text-align: left;
}
.info-over img {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
}
.info-over h3 {
    padding-left: 20px;
    padding-bottom: 10px;
}
.info-over p {
    padding-left: 20px;
}
.over-ons {
    background-color: #262622;
    color: white;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    width: 1922px;
    
}
.over-ons-image img {
    width: 800px;
    height: 600px;
    object-fit: cover;
    margin-top: 300px;
}
.over-ons-text{
    padding-left: 60px;
    margin-top: 300px;
    width: 500px;
}
.over-ons-text h1 {
    font-size: 40px;
    font-weight: bolder;
}
.over-ons-text p {
    font-size: 14px;
    line-height: 20px;
    padding-top: 15px;
}
.over-ons-text .lijnhoogte{
    margin-bottom: -10px;
}
.faciliteiten{
    padding-top: 100px;
    color: white;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    height: 100%;
}
.faciliteiten h1 {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 208px;
    height: 10px;
    font-size: 40px;
    color: #fbbc05;    
}
.faciliteiten-container{
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
}
.faciliteiten-container-top{
    display: flex;
    margin-top: 100px;
    height: 150px;
    width: 100%;
    max-width: 900px;
}
.faciliteiten-container-bottom{
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    gap: 0px;
    padding-left: 88px;
}

.faciliteiten .container-racket{
    margin-left: -30px;
}
.faciliteiten .container{
    line-height: 20px;
}