body {
    height: 100%;
    width: 100%;
    background-color: #262622;
    color: white;
}
.homepage {
    color: white;
    height: 90vh;
    margin: 0 auto  ;
    align-items: center;
    text-align: center;
    background-size: cover;
    background:
  linear-gradient(
    rgba(38, 38, 34, 0.4),
    rgba(38, 38, 34, 1)
  ),
  url(/Images/Achtergrond.png);
}
.welkom-text {
    display: block;
    height: 500px;
    padding-top: 100px;
}
.welkom-text h1 {
    font-size: 5rem;
    line-height: 80px;
    text-shadow: 5px 5px 10px #262622;
    pointer-events: none;
    user-select: none;
}
.welkom-text p {
    font-size: 2rem;
    font-weight: 700;
    line-height: 60px;
    text-shadow: 3px 3px 5px #262622 ;
    margin-bottom: 10px;
    pointer-events: none;
    user-select: none;
}
.welkom-text .gele-text {
    color: #fbbc05;
}
.welkom-text .reserveer{
    text-align: center;
    background-color: none;
    height: 33px;
    width: 120px;
    text-decoration: none;
    color: #fbbc05;
    padding: 6px 20px;
    border: #fbbc05 2px solid;
    border-radius: 10px;
    font-weight: bold;
    transition: 1s;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.welkom-text .reserveer:hover {
    color: #fbbd059d;
    border: #fbbd059d  solid 2px ;
    padding: 6px 20px;
    border-radius: 10px;
}
.homepage .info-over{
    background-color: #262622;
    display: flex;
    margin: 150px auto;
    width: 100%;
    max-width: 1000px;
    padding-bottom: 0px;
    gap: 13rem;
    border-radius: 2rem 2rem 0 0;
    text-align: center;
    pointer-events: none;
    user-select: none;
}
.homepage .reserveren{
    margin: 10px auto;
    background-color: #262622;
    box-shadow: 5px 5px 20px #262622;
    height: 300px;
    width: 220px;
    text-align: center;
    margin-right: 0px;
}
.homepage .terras{
    margin: 10px auto;
    height: 110%;
    width: 220px;
    margin-left: 0px;
    background-color: #262622;
    box-shadow: 5px 5px 20px #262622;
    text-align: center;
}
.info-over img {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
}
.info-over h3 {
    padding-left: 20px;
    padding-bottom: 10px;
}
.info-over p {
    padding-left: 20px;
}
.over-ons {
    pointer-events: none;
    user-select: none;
    color: white;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    max-height: 850px;
    padding-top: 300px;
    
}
.over-ons-image img{
    pointer-events: none;
    user-select: none;
    width: 600px;
    height: 600px;
    object-fit: cover;
}
.over-ons-text{
    padding-left: 60px;
    width: 500px;
}
.over-ons-text h1 {
    font-size: 40px;
    font-weight: bolder;
}
.over-ons-text p {
    font-size: 14px;
    line-height: 20px;
    padding-top: 15px;
}
.over-ons-text .lijnhoogte{
    margin-bottom: -10px;
}
.faciliteiten{
    pointer-events: none;
    user-select: none;
    padding-top: 460px;
    padding-bottom: 330px;
    color: white;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    height: 100%;
}
.faciliteiten h1 {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    height: 10px;
    font-size: 60px;
    color: #fbbc05;    
    padding-top: 50px;

}
.faciliteiten-container{
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
}
.faciliteiten-container-top{
    display: flex;
    padding-top: 140px;
    height: auto;
    width: 900px;
    max-width: 1100px;
}
.faciliteiten-container-bottom{
    display: flex;
    width: auto;
    height: auto;
    margin: 0 auto;
    max-width: 600px;
    padding-left: 88px;
    padding-top: 50px
}

.faciliteiten .container-racket{
    margin-left: -30px;
}
.faciliteiten .container{
    line-height: 20px;
}

.whatsapp {
    margin: 200px auto;
    width: 1100px;
    height: 100%;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 200px;
}
.idk {
    width: 600px;
    height: 700px;
    max-width: 900px;
    object-fit: cover;
    text-align: left;
}
.whatsapp-text-container{
    margin: 0 auto;
    padding-top: 80px;
    width: 500px;
    height: 100%;
    max-width: 900px;
    text-align: center;
}
.whatsapp-text-container h1 {
    font-size: 60px;
    padding-bottom: 80px;
}
.whatsapp-text-container h2 {
    padding-bottom: 80px;
    font-size: 30px;
}
.whatsapp-text-container h4 {
    padding-bottom: 80px;
    font-size: 20px;
}
.whatsapp-text-container p {
    padding-bottom: 80px;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    color: #FFFFFF;
    opacity: 80%;
}
.whatsapp-text-container .Deelnemen{
    display: inline-block;
    padding: 10px 24px;
    width: 150px;
    text-decoration: none;
    border: #fbbc05 2px solid;
    color: #fbbc05;
    border-radius: 10px;
    transition: 1s;
    position: relative;
    background-color: none;
}
.whatsapp-text-container .Deelnemen:hover {
    color: #fbbd059d;
    border: #fbbd059d solid 2px ;
    padding: 10px 24px;
    border-radius: 10px;
    background-color: none;
}




























@media screen and (max-width: 935px) {

    /* Over ons */

    .over-ons{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: -140px;
    }
    .over-ons-image img{
        margin: 0 auto;
        width: 500px;
        height: 250px;
        max-width: 600px;
    }
    .over-ons-text p{
        text-align: left;
        width: 500px;
        max-width: 700px;
        font-size: 1em;
        line-height: 1.5em;
    }


    /* Faciliteiten */




    .faciliteiten {
        margin: 100px auto;
        text-align: center;
    }
    .faciliteiten-container{
        margin: 0 auto;
        max-width: 650px;
        display: inline-block;
    }
    .container img{
        margin: 0 auto;
        width: 30%;
        max-width: 100%;
    }
    .container-racket img{
        width: 31%;
    }
    .container-padel img{
        width: 40%;
    }


    /* Whatsapp */

    .whatsapp {
        margin: 0 auto;
        text-align: left;
        display: flex;
        flex-direction: column;
        max-width: 600px;
    }
    .idk {
        margin: 100px auto;
        height: 250px;
        width: 500px;
        max-width: 600px;
        object-fit: cover;
    }
    .whatsapp-text-container {
        height: 100%;
        width: 400px;
        max-width: 500px;
        text-align: center;
        padding: 0px;
        margin: -50px auto;
        font-size: 1em;
        line-height: 20px;
    }
    .whatsapp-text {
        padding-bottom: 0px;
    }


}
