*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'arial';
    scrollbar-width:none;
}
body {
    background-color: #262622;
    color: white;
}
.navbar {
    width: 100%;
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #262622;
    border-bottom-color: #FBBC05;
}
.navbar li {
    list-style: none;
}
.navbar a {
    text-decoration: none;
    color: white;
    padding-bottom: 1px;
    font-size: 1rem;
    font-weight: bold;
}
.navbar a:hover {
    color: #FBBC05;
    transition-duration: 0.2s;
    padding-bottom: 1px;
    border-bottom: 1px solid #FBBC05;
}
.navbar li .Contact {
    color: #FBBC05 ;
}
.dropdown_menu li {
    list-style: none;
}
.dropdown_menu a{
    color: white;
    text-decoration: none;
    padding-bottom: 1px;
}
.dropdown_menu a:hover {
    color: #FBBC05;
    padding-bottom: 1px;
    border-bottom: 0.5px solid #FBBC05;
}
.dropdown_menu .Contact {
    color: #FBBC05;
}
.dropdown_menu .Contact:hover {
    color: white;
    border-bottom: white 0.5px solid;
}
.navbar li .Contact:hover {
    color: white ;
    border-bottom: white solid 0.5px;
    transition: 0.2s;
}
.navbar .logo a {
    border: none ;
}
header {
    position:sticky;
    top: 0;
    padding: 0 2rem;
    background-color: #262622;
}
.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.actionbutton {
    color: #FBBC05;
    border: #FBBC05 2px solid;
    position: relative;
    padding: 6px 24px;
    font-size: 1rem;
    font-weight: bold;
    transition: .5s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}
.actionbutton:hover {
    color: #fbbd059d;
    border: #fbbd059d  solid 2px ;
    padding: 6px 24px;
    border-radius: 10px;
}
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2.5rem;
    top: 60px;
    height: 0;
    width: 150px;
    background-color: #262622;
    border-radius: 20px;
    overflow: hidden;
    transition: height .05s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
    height: 500px;
}
.dropdown_menu li {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .actionbutton {
    display: flex;
    width: 200%;
    justify-content: center;
}
@media screen and (max-width: 935px) {
    .navbar .links,
    .navbar .actionbutton{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
}
.footer {
    width: 100%;
    height: 100%;
    max-width: 2000px;
    margin: 0px auto;
    background-color: #FBBC05;
    background-size: cover;  
    text-align: center;
}
.footer h1 {
    height: 50px;
    width: 100%;
    max-width: 1000px;
    padding: 100px 170px;
    font-size: 4rem;
    font-weight: 600; 
    color: black; 
}
.footer-grid {
    margin-top: 0px;
    padding-top: 90px;
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1400px;

}
.footer-column {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 900px;
    display: flex;
    gap: 90px;  
}
.footer-column .logo {
    margin-right: -80px;
    margin-top: 5px;
    pointer-events: none;
    user-select: none;
}
.footer-column ul {
    list-style: none;
    text-align: left;
}
.footer-column p {
    color: black;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: 800;
}
.vragen {
    text-decoration: none;
    color: white;
}
.footer-column a {
    text-decoration: none;
    color:  #262622;
    font-size: 18px;
    padding-top: 5px;
}
.footer-column a:hover {
    color: #d8a408;
}
.footer .Contact {
    color: black;
}
.foot {
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 25px;
    font-size: 0.7rem;
    color: #262622;
}
@media screen and (max-width: 935px) {
    .footer-column{
        padding-top: 50px;
        text-align: left;
        display: inline-block;
        margin: 0 auto;
        width: 170px;
        max-width: 200px;
    }
    .footer-column ul{
        padding-top: 10px;
    }
    .foot {
        margin-top: -70px;
    }
    
}