body {
    background-color: #262622;
    font-family: "raleway", sans-serif;
}

.landing {
    margin: auto;
    font-size: 3em;
    width: 100%;
    height: 50vh;
    background: 
    linear-gradient(
    rgba(38, 38, 34, 1),
    rgba(38, 38, 34, 0.2)
    ),
    url(/Images/Tennis-background.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}
.tennis-text {
    padding-top: 200px;
    text-shadow: #262622 5px 5px 10px;
}
.soort-baan {
    font-size: 1em;
    display: flex;
    background-color: transparent;
    margin: auto;
    text-align: center;
    align-items: center;
    max-width: 800px;
}
.tennis-about hr {
    border-top: rgba(0, 0, 0, 0.5) 1px solid;
    margin-top: -10px;
}
.baan{
    font-size: 1.1em;
    margin: auto;
    padding-top: 20px;
    height: 70px;
    width: 100%;
    max-width: 300px;
}
.baan-gras{

}
.tennis-about {
    margin: auto;
    height: 100%;
    text-align: center;
}
.tennis-about h1 {
font-size: 4em;
}
.text-left p,a {
    padding-top: 25px;
    font-size: 1.0em;
    color: white;
    line-height: 30px;
    text-align: left;
}
.text-left a{
    text-decoration: none;
    color: orangered;
}
.text-left a:hover,a:focus{
    text-decoration: solid;
}

.tennis-about .text-left{
    font-size: 1.5em;
    line-height: 80px;
    margin: 100px auto;
    max-width: 700px;
}





.tarieven-tennis {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 50px;
    text-align: center;
}
.tarieven-tennis h1 {
    text-align: center;
    color: white;
    width: 100%;
    font-size: 2em;
    font-weight: 600;
}
.tarieven-tennis-tabel {
    margin: 10px auto;
    border-collapse: collapse;
    text-align: center;
    width: 60%;
    font-size: 1.2em;
}
.tarieven-tennis-tabel th,td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.425);
}
.tarieven-tennis-tabel th {
    background-color: black;
    border: none;
}
.tarieven-tennis i {
    font-size: 0.7em;
}